name: Build and Release Action

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-musl

      - name: Install musl-tools
        run: sudo apt-get install -y musl-tools

      - name: Build Binary
        run: cargo build --release --target x86_64-unknown-linux-musl

      - name: Create Release and Upload Assets
        id: release
        uses: caffeine-soft/github-release-tag@v0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          generate_release: "true"
          release_name: "Release {tag}"
          artifacts: "target/x86_64-unknown-linux-musl/release/gp-upload-action"

      - name: Update Major Tag
        run: |
          MAJOR_VERSION=$(echo "${{ steps.release.outputs.new_tag }}" | cut -d. -f1)
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git tag -fa "$MAJOR_VERSION" -m "Update major tag $MAJOR_VERSION"
          git push origin "$MAJOR_VERSION" --force
