name: Build and Release Action

on:
    push:
        branches:
            - main

jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Install Rust
              uses: dtolnay/rust-toolchain@stable
              with:
                  targets: x86_64-unknown-linux-musl

            - name: Install musl-tools
              run: sudo apt-get install -y musl-tools

            - name: Build Binary
              run: cargo build --release --target x86_64-unknown-linux-musl

            - name: Bump version and push tag
              id: tag_version
              uses: mathieudutour/github-tag-action@v6.2
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}

            - name: Create a GitHub release
              uses: ncipollo/release-action@v1
              with:
                  tag: ${{ steps.tag_version.outputs.new_tag }}
                  name: Release ${{ steps.tag_version.outputs.new_tag }}
                  body: ${{ steps.tag_version.outputs.changelog }}
                  artifacts: "target/x86_64-unknown-linux-musl/release/gp-upload-action"
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: Update Major Tag
              run: |
                  MAJOR_VERSION=$(echo "${{ steps.tag_version.outputs.new_tag }}" | cut -d. -f1)
                  git config user.name "github-actions"
                  git config user.email "github-actions@github.com"
                  git tag -fa "$MAJOR_VERSION" -m "Update major tag $MAJOR_VERSION"
                  git push origin "$MAJOR_VERSION" --force
